@import "../base";
#accountIndex{
  text-align: center;
  .head{
    width:100%;
    margin-top: px2rem(40);
    padding-left: px2rem(287);
    .headOuter{
      border: 2px solid $darkBlue;
      @include uniMethod('border-radius', px2rem(88));
      width: px2rem(176);
      height: px2rem(176);
      display: table-cell;
      vertical-align: middle;
      img{
        width: px2rem(150);
        height:px2rem(150);
        border:2px solid $darkBlue;
        vertical-align: middle;
        @include uniMethod('border-radius', px2rem(75));
      }
    }
  }
  .name{
    color:$darkBlue;
    margin-top: px2rem(46);
  }
  .position{
    color:$lightBlue;
    margin-top: px2rem(36);
  }
  .description{
    color:$darkGray;
    margin-top: px2rem(28);

  }
  .divider{
    margin:0 auto;
    border:none;
    border-top:1px solid $borderGray;
    width:px2rem(700);
    &.top{
      margin-top: px2rem(55);
    }
  }
  .statics{
    margin-top:px2rem(20);
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      color:$lightGray;
      &:nth-child(2){
        margin-top: px2rem(19);
      }
      li {
        font-size: px2rem(30);
        display: inline-block;
        text-align: center;
        &:nth-child(1) {
          width: px2rem(240);
        }
        &:nth-child(2) {
          width: px2rem(270);
        }
        &:nth-child(3) {
          width: px2rem(240);
        }
      }
    }
  }
  .dividerWide{
    margin-top:px2rem(21);
    width:100%;
    border:none;
    border-top:1px solid $borderGray;
  }
  .nav{
    height: px2rem(92);
    line-height: px2rem(92);
    ul{
      list-style-type: none;
      margin: 0 auto;
      padding: 0;
      width:px2rem(635);
      li{
        color:$lightBlue;
        width: px2rem(127);
        float:left;
        &:nth-child(1){
        }
        &:nth-child(2){
          margin-left:px2rem(127);
        }
        &:nth-child(3){
          margin-left:px2rem(127);
        }
        &.active{
          color:$darkBlue;
          font-weight: bold;
          border-bottom:1px solid $darkBlue;
        }
      }

    }
  }
  .container{
    ul{
      list-style-type: none;
      margin: 0 auto;
      padding: 0;
      width:px2rem(703);
      li{
        text-align: left;
        height:px2rem(298);
        .header{
          margin-top: px2rem(46);
          font-size: px2rem(32);
          color:$fontColor;
        }
        .content{
          margin-top:px2rem(57);
          .headInner{
            float:left;
            width:px2rem(100);
            img{
              width:px2rem(100);
              height:px2rem(100);
            }
          }
          .recording{
            float:left;
            width:200px;
            margin-left: px2rem(19);
          }
        }
        .footer{
          color:$lightGray;
          font-size:px2rem(24);
          .howManyListen{}
          .howManySorroy{
            margin-left:px2rem(27);
          }
        }
      }
    }
  }
}
