@import "../base";

.user.edit{
  .user-card{
    margin-bottom: px2rem(20);
    .name {
      margin-top: - px2rem(71);
    }
    img.avatar{
      border: 3px solid $darkBlue;
    }
    div.form-group {
      margin: px2rem(50) px2rem(62) 0;
      &:first-of-type{
        margin-top: px2rem(57);
      }
      label{
        font-size: px2rem(25);
        display: inline-block;
        width: px2rem(180);
        white-space: pre;
      }
      input{
        text-align: center;
        font-size: px2rem(25);
        width: px2rem(310);
        border: none;
        border-bottom: 1px solid $lightGray;
        &:focus{
          outline: none;
        }
      }
      &.self-intro-text{
        label{
          display: block;
          .count{
            float:right;
            margin-right: 10px;
            color:$red;
          }
        }
        textarea{
          padding:5px;
          width: px2rem(500);
          height: px2rem(180);
          border: 1px solid $lightGray;
          -webkit-border-radius:px2rem(5);
          -moz-border-radius:px2rem(5);
          border-radius:px2rem(5);
        }
      }
    }
    a.bottom-btn{
      text-align: center;
      display: block;
      width: px2rem(496);
      height: px2rem(79);
      background-color: $orange;
      border: 1px solid $borderOrange;
      border-radius: px2rem(10);
      color: white;
      line-height: px2rem(70);
      margin: px2rem(37) auto;
    }
  }

}
