@import "../base";
span>a>img {
    display: none;
}
.search-bar{
    position: relative;
    height: 1rem;
    line-height: 1rem;
    border-bottom: 1px solid gray;
    overflow: hidden;
    .search-icon{
        width: px2rem(90);
        height: 1rem;
        float: left;
        img {
            width: px2rem(46);
            height: px2rem(45);
            position: absolute;
            top: px2rem(15);
            left: px2rem(22);
        }
    }
    input{
        width: px2rem(531);
        border: none;
        color: gray;
        &:focus{
            outline: none;
        }
    }
    img.close{
        position: absolute;
        width: px2rem(46);
        height: px2rem(46);
        top: (1rem - px2rem(46))/2;
        right: px2rem(145);
    }
    button{
        width: px2rem(128);
        background: rgb(3,135,231);
        border: none;
        color: white;
    }
}
.search-tips{
    // display: none;
    background: white;
    position: absolute;
    top: 1rem;
    z-index: 999;
    height: calc(100vh - 1rem);
    height: -webkit-calc(100vh - 1rem);
    height: -moz-calc(100vh - 1rem);
    width: 100%;
    .tip-title{
        margin-top: px2rem(45);
        margin-left: px2rem(30);
        font-size: px2rem(28);
        // float: left;
        overflow: hidden;
    }
    .delete-icon{
        position: absolute;
        width: px2rem(46);
        height: px2rem(46);
        right: px2rem(40);
        top: 0.6rem;
    }
    .tag-list{
        // float: left;
        .empty{
            text-align: center;
            font-size: px2rem(24);
        }
        &:after{
            content: '';
            clear: both;
            display: block;
            visibility: hidden;
        }
        .history-item,.hot-item{
            margin-top: px2rem(25);
            margin-left: px2rem(26);
            float: left;
            font-size: px2rem(24);
            // width: px2rem(130);
            padding: 0 px2rem(25);
            height: px2rem(50);
            line-height: px2rem(50);
            text-align: center;
            background: #f3f3f3;
            border-radius: px2rem(5);
        }
    }

}
.app-container{
  position:absolute;
  top: 0;
  right:0;
  left:0;
  bottom: 1.2rem;
  overflow-y: scroll;
  // height:90%;
  // height:calc(100vh - 1.2rem);
  // height:-webkit-calc(100vh - 1.2rem);
  // height:-moz-calc(100vh - 1.2rem);
}
.footer{
  position: absolute;
  bottom:0;
  left:0;
  right:0;
  height: px2rem(90);
  line-height: px2rem(90);
  background-color: white;
  border-top: 1px solid $borderGray;
  ul{
    list-style-type:none;
    margin:0;
    padding:0;
    li{
      font-size: px2rem(30);
      display:inline-block;
      width:33%;
      text-align:center;
      &:nth-child(1){
        width:px2rem(250);
      }
      &:nth-child(2){
        width:px2rem(250);
      }
      &:nth-child(3){
        width:px2rem(250);
      };
      a{
        text-decoration: none !important;
        color:$darkGray;
        display: block;
        &.active{
          color:$lightBlue;
        }
      }
    }
  }
}
