@import "../base";
.footer{
  position: fixed;
  bottom:0;
  left:0;
  right:0;
  height: px2rem(90);
  line-height: px2rem(90);
  background-color: white;
  border-top: 1px solid $borderGray;
  ul{
    list-style-type:none;
    margin:0;
    padding:0;
    li{
      font-size: px2rem(30);
      display:inline-block;
      width:33%;
      text-align:center;
      &:nth-child(1){
        width:px2rem(250);
      }
      &:nth-child(1){
        width:px2rem(250);
      }
      &:nth-child(3){
        width:px2rem(250);
      };
      a{
        text-decoration: none !important;
        color:$darkGray;
        display: block;
        &.active{
          color:$lightBlue;
        }
      }
    }
  }
}