@import '../base';
.askedMeList{
  padding: 0 px2rem(25) px2rem(90);
  text-align: left;
  article{
    width:100%;
    h4, .answer, .remark{
      padding-left: 0 !important;
    }
  }
  .hint{
    margin-top: px2rem(86);
    color:$darkGray;
    font-size: px2rem(30);
    text-align: center;
  }
  .email{
    margin-top: px2rem(28);
    color:$lightGray;
    font-size: px2rem(24);
    text-align:center;
  }
  .next{
    margin-top: px2rem(20);
    color:$lightGray;
    font-size: px2rem(24);
    text-align:center;
  }
  .becomeTutor{
    text-align: center;
    margin-top: px2rem(53);
    border: none;
    text-align:center;
    @include uniMethod('border-radius', 5px);
    background: $orange;
    font-size: px2rem(30);
    color: $white;
    width: px2rem(702);
    height: px2rem(88);
    outline: none;
  }
  .afford, .invitation {
    margin: px2rem(107) px2rem(130) 0 px2rem(114);
    span{
      font-size: px2rem(36);
      font-weight: bold;
      color: $darkGray;
    }
  }
  .afford{
    margin-top: px2rem(54);
  }
  .no-underline{
    border: 0;
    text-align: center;
    outline: none;
    border-bottom: 3px solid $darkGray;
    margin: 0 10px;
  }
  .submit{
    background: $orange;
    @include uniMethod('border-radius', 5px);
    color: $white;
    font-size: px2rem(30);
    border: 1px solid $borderOrange;
    margin: px2rem(100) px2rem(94) px2rem(60);
    height: px2rem(90);
    line-height: px2rem(90);
    text-align: center;
  }
}