@import '../base';
.askedMeList{
  padding: 0 px2rem(25) px2rem(90);
  text-align: left;
  article{
    width:100%;
    h4, .answer, .remark{
      padding-left: 0 !important;
    }
  }
  /*
  ul{
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    width:px2rem(703);
    li{
      text-align: left;
      height:px2rem(303);
      .header{
        margin-top: px2rem(30);
        font-size: px2rem(32);
        color:$fontColor;
      }
      .content{
        margin-top:px2rem(57);
        .headInner{
          float:left;
          width:px2rem(100);
          img{
            width:px2rem(100);
            height:px2rem(100);
          }
        }
        .answer {
          float: left;
          width: px2rem(335);
          width:200px;
          margin-left: px2rem(19);
          .bubble{
            position: relative;
            left: px2rem(20);
            display: block;
            width: px2rem(335);
            height: px2rem(88);
            background-color: rgb(3,135,231);
            -webkit-border-radius: px2rem(50);
            -moz-border-radius: px2rem(50);
            border-radius: px2rem(50);
            .bubble-voice {
              background-image: url(/src/images/voice.png);
              -webkit-background-size: 100% 100%;
              background-size: 100% 100%;
              width: px2rem(36);
              height: px2rem(36);
              position: absolute;
              left: px2rem(30);
              bottom: px2rem(27);
            }
            .bubble-tail{
              background-image: url(/src/images/bubble-tail-blue.png);
              -webkit-background-size: 100% 100%;
              background-size: 100% 100%;
              width: px2rem(36);
              height: px2rem(48);
              position: absolute;
              left: px2rem(-14);
              bottom: 0;
            }
            .bubble-text {
              position: absolute;
              left:px2rem(124);
              top: px2rem(28);
              font-size: px2rem(24);
              color: white;
            }
          }

        }
      }
      .innerFooter{
        clear: left;
        color:$lightGray;
        padding: px2rem(16) 0;
        text-align: right;
        .howManyListen{
          font-size: px2rem(24);
        }
        .howManySorrow{
          margin-left:px2rem(27);
          font-size: px2rem(24);
        }
      }
    }
  }
      */
  .hint{
    margin-top: px2rem(86);
    color:$darkGray;
    font-size: px2rem(30);
    text-align: center;
  }
  .email{
    margin-top: px2rem(28);
    color:$lightGray;
    font-size: px2rem(24);
  }
  .next{
    margin-top: px2rem(20);
    color:$lightGray;
    font-size: px2rem(24);
    text-align:center;
  }
  .becomeTutor{
    text-align: center;
    margin-top: px2rem(53);
    border: none;
    text-align:center;
    @include uniMethod('border-radius', 5px);
    background: $orange;
    font-size: px2rem(30);
    color: $white;
    width: px2rem(702);
    height: px2rem(88);
    outline: none;
  }
  .afford, .invitation {
    margin: px2rem(107) px2rem(130) 0 px2rem(114);
    span{
      font-size: px2rem(36);
      font-weight: bold;
      color: $darkGray;
    }
  }
  .afford{
    margin-top: px2rem(54);
  }
  .no-underline{
    border: 0;
    text-align: center;
    outline: none;
    border-bottom: 3px solid $darkGray;
    margin: 0 10px;
  }
  .submit{
    background: $orange;
    @include uniMethod('border-radius', 5px);
    color: $white;
    font-size: px2rem(30);
    border: 1px solid $borderOrange;
    margin: px2rem(190) px2rem(94) px2rem(60);
    height: px2rem(90);
    line-height: px2rem(90);
    text-align: center;
  }
}