@import '../base';
.askMeList{
  padding:0  px2rem(25);
  .hint{
    margin-top: px2rem(153);
    color:$lightGray;
    font-size: px2rem(24);
    text-align: center;
  }
  .go{
    margin-top: px2rem(28);
    color:$lightBlue;
    font-size: px2rem(30);
    a{
      color:$orange;
      font-size: px2rem(30);
      font-weight: bold;
      text-decoration: underline;
    }
  }
}
