@import "../base";

article.question-item-asked-me {
  border-bottom: 1px solid $borderGray;
  .userInfo{
    height: 0.8rem;
    img{
      width: 0.8rem;
      height: 0.8rem;
      float: left;
      @include uniMethod('border-radius', 0.4rem);
    }
    span{
      float: left;
      margin-left: px2rem(20);
      line-height: 0.8rem;
    }
  }
  .question-content {
    h4{
      margin: px2rem(20) 0;
      height: px2rem(90);
      line-height: px2rem(30);
      font-size: px2rem(28);
      font-weight: 500;
      overflow : hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }
  .status{
    float: right;
    .btn{
      display: inline-block;
      width:px2rem(83);
      height:px2rem(37);
      line-height: px2rem(37);
      text-align: center;
      @include uniMethod('border-radius', 5px);
      color: $white;
      font-size: px2rem(16);
      &.not-solved{
        background: $orange;
      }
      &.solved{
        background: $darkBlue;
      }
    }
  }
}