@import "../base";

article.question-without-avatar-without-bubble {
  border-bottom: 1px solid $borderGray;
  overflow: hidden;
  //height: px2rem(156);
  text-align: left;
  .question-content {
    h4{
      margin-top:px2rem(20);
      font-size: px2rem(32);
      font-weight: 500;
      height: 1.2rem;
      line-height: .6rem;
      font-weight: 500;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }
  .status{
    float: right;
    .btn{
      display: inline-block;
      width:px2rem(83);
      height:px2rem(37);
      line-height: px2rem(37);
      text-align: center;
      @include uniMethod('border-radius', 5px);
      color: $white;
      font-size: px2rem(16);
      &.not-solved{
        background: $orange;
      }
      &.solved{
        background: $darkBlue;
      }
    }
  }
}