@import "../base.scss";

.search-results{
    .result-title{
        line-height: px2rem(70);
        background: #e5f5ff;
        overflow: hidden;
        h5{
            font-size: px2rem(24);
            &.title{
                float: left;
                margin-left: px2rem(25);
                color: gray;
            }
            &.more{
                float: right;
                margin-right: px2rem(25);
                color: blue;
            }
        }
    }
    .empty{
        text-align: center;
        padding: 0.3rem;
        background: lightyellow;
    }
}
