@import "../base";

.user.share{
  .user-card{
    margin-bottom: px2rem(20);
    top: px2rem(150);
    .title{
      font-size: px2rem(36);
    }
    .description{
      margin-top: px2rem(42);
      font-size: px2rem(30);
      color: $darkGray;
    }
    img.QRCode{
      margin: px2rem(36) auto;
      width: px2rem(428);
      height: px2rem(428);
    }
    .tip{
      color: $lightGray;
      font-size: px2rem(24);
      text-align: center;
      line-height: px2rem(36);
    }
  }
}