@import "../base";

article {
  overflow: hidden;
  width: 10rem;
  min-height: px2rem(160);
  border-bottom: 1px solid $borderGray;
  .tutor-info {
    float: left;
    width: 80%;
    padding-left: px2rem(24);
    padding-top: px2rem(30);
    img {
      float: left;
      width: px2rem(100);
      height: px2rem(100);
      -webkit-border-radius: px2rem(50);
      -moz-border-radius: px2rem(50);
      border-radius: px2rem(50);
      margin-right: px2rem(35);
    }
    .tutor-intro{
      float: left;
      h3 {
        font-size: px2rem(38);
        font-weight: 600;
      }
      h4{
        font-size: px2rem(30);
        color: $darkGray;
        white-space: nowrap;
        margin-top: px2rem(21);
        margin-bottom: px2rem(38);
        span:first-child{
          margin-right: px2rem(18);
        }
      }
    }
  }
  .answer-info{
    float: right;
    padding-right: px2rem(24);
    line-height: px2rem(160);
    text-align: right;
    color: $lightGray;
    white-space: nowrap;
  }
}
